#container {
    position: absolute;
    width: 1804px;
    height: 1000px;
    background-color: #F8F6F4;
}

#letters {
    /* layout */
    position: absolute;
    width: 673px;
    height: 364px;
    top: 147px;
    left: 171px;
    /* typography */
    color: #162C63;
    leading-trim: both;
    text-edge: cap;
    font-feature-settings: 'salt' on;
    font-family: Agrandir Variable;
    font-size: 520px;
    font-style: normal;
    font-weight: 469;
    /* line-height: 1; */
    text-transform: uppercase;
    /* other */
    z-index: 1;
    /* overrides */
    line-height: 0.9;
}

#box-1 {
    background-color: #2051FF;
    /* layout */
    position: absolute;
    width: 596px;
    height: 596px;
    top: 237px;
    left: 306px;
}

#box-2 {
    /* layout */
    position: absolute;
    width: 371px;
    height: 369px;
    top: 464px;
    /* adjusted by 1 px */
    left: 902px;
    /* adjusted by 1 px */
    /* colours */
    background-color: #bdaaaa;
}

#box-3 {
    /* colours */
    background-color: #E83D32;
    /* layout */
    position: absolute;
    width: 226px;
    height: 226px;
    top: 464px;
    /* adjusted by 1 px */
    left: 1273px;
    /* adjusted by 1 px */
}

#title {
    /* typography */
    color: #FFF;
    font-family: Agrandir Variable;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 160%;
    letter-spacing: 5.6px;
    text-transform: uppercase;
    /* layout */
    position: absolute;
    width: 250px;
    height: 22px;
    top: 378px;
    left: 30px;
}

#description {
    /* typography */
    color: #FFF;
    font-family: Agrandir Variable;
    font-size: 32px;
    font-style: normal;
    font-weight: 336;
    line-height: 38.4px;
    /* layout */
    position: absolute;
    width: 508px;
    height: 152px;
    top: 408px;
    left: 30px;
}

#cta-text {
    /* typography */
    color: #162C63;
    font-family: Agrandir Variable;
    font-size: 16px;
    font-style: normal;
    font-weight: 336;
    line-height: 160%;
    /* 25.6px */
    /* layout */
    position: absolute;
    width: 271px;
    height: 78px;
    top: 751px;
    left: 1377px;
}

#cta-link {
    /* layout */
    width: 81px;
    height: 4px;
    flex-shrink: 0;
    position: absolute;
    top: 855px;
    left: 1377px;
    /* style */
    border-radius: 4px;
    background: #E83D32;
}

#cta-link-text {
    /* typography */
    color: #162C63;
    font-feature-settings: 'salt' on;
    font-family: Agrandir Variable;
    font-size: 16px;
    font-style: normal;
    font-weight: 336;
    line-height: 16px;
    /* 100% */
    /* layout */
    width: 96px;
    height: 16px;
    position: absolute;
    top: 851px;
    left: 1484px;
}
