#container {
  width: 1804px;
  height: 1000px;
  background-color: #F8F6F4;
  position: absolute;
}

#letters {
  /* layout */
  width: calc(673px * var(--ratio));
  height: calc(364px * var(--ratio));
  top: calc(147px * var(--ratio));
  left: calc(171px * var(--ratio));
  /* typography */
  color: #162C63;
  leading-trim: both;
  text-edge: cap;
  font-feature-settings: 'salt' on;
  font-family: Agrandir Variable;
  font-size: calc(520px * var(--ratio));
  font-style: normal;
  font-weight: 469;
  /* line-height: 1; */
  text-transform: uppercase;
  /* other */
  z-index: 1;
  /* overrides */
  line-height: calc(0.9 * var(--ratio));
}

#box-1 {
  background-color: #2051FF;
  /* layout */
  width: calc(596px * var(--ratio));
  height: calc(596px * var(--ratio));
  top: calc(237px * var(--ratio));
  left: calc(306px * var(--ratio));
  position: absolute;
}

#box-2 {
  /* layout */
  width: calc(371px * var(--ratio));
  height: calc(369px * var(--ratio));
  top: calc(464px * var(--ratio));
  /* adjusted by 1 px */
  left: calc(902px * var(--ratio));
  /* adjusted by 1 px */
  /* colours */
  background-color: #bdaaaa;
  position: absolute;
}

#box-3 {
  /* colours */
  background-color: #E83D32;
  /* layout */
  width: calc(226px * var(--ratio));
  height: calc(226px * var(--ratio));
  top: calc(464px * var(--ratio));
  /* adjusted by 1 px */
  left: calc(1273px * var(--ratio));
  /* adjusted by 1 px */
  position: absolute;
}

#title {
  /* typography */
  color: #FFF;
  font-family: Agrandir Variable;
  font-size: calc(14px * var(--ratio));
  font-style: normal;
  font-weight: 400;
  line-height: calc(160% * var(--ratio));
  letter-spacing: calc(5.6px * var(--ratio));
  text-transform: uppercase;
  /* layout */
  width: calc(250px * var(--ratio));
  height: calc(22px * var(--ratio));
  top: calc(378px * var(--ratio));
  left: calc(30px * var(--ratio));
}

#description {
  /* typography */
  color: #FFF;
  font-family: Agrandir Variable;
  font-size: calc(32px * var(--ratio));
  font-style: normal;
  font-weight: 336;
  line-height: calc(38.4px * var(--ratio));
  /* layout */
  width: calc(508px * var(--ratio));
  height: calc(152px * var(--ratio));
  top: calc(408px * var(--ratio));
  left: calc(30px * var(--ratio));
}

#cta-text {
  /* typography */
  color: #162C63;
  font-family: Agrandir Variable;
  font-size: calc(16px * var(--ratio));
  font-style: normal;
  font-weight: 336;
  line-height: calc(160% * var(--ratio));
  /* 25.6px */
  /* layout */
  width: calc(271px * var(--ratio));
  height: calc(78px * var(--ratio));
  top: calc(751px * var(--ratio));
  left: calc(1377px * var(--ratio));
}

#cta-link {
  /* layout */
  width: calc(81px * var(--ratio));
  height: calc(4px * var(--ratio));
  flex-shrink: 0;
  top: calc(855px * var(--ratio));
  left: calc(1377px * var(--ratio));
  /* style */
  border-radius: 4px;
  background: #E83D32;
  position: absolute;
}

#cta-link-text {
  /* typography */
  color: #162C63;
  font-feature-settings: 'salt' on;
  font-family: Agrandir Variable;
  font-size: calc(16px * var(--ratio));
  font-style: normal;
  font-weight: 336;
  line-height: calc(16px * var(--ratio));
  /* 100% */
  /* layout */
  width: calc(96px * var(--ratio));
  height: calc(16px * var(--ratio));
  top: calc(851px * var(--ratio));
  left: calc(1484px * var(--ratio));
}