/* XS (Tailwind) */
@import url('./mobile.css') screen and (min-width: 0px) and (max-width: 639px);

/* SM (Tailwind) */
@import url('./mobile.css') screen and (min-width: 640px) and (max-width: 767px);

/* MD (Tailwind) */
@import url('./mobile.css') screen and (min-width: 768px) and (max-width: 1023px);

/* LG (Tailwind) */
@import url('./desktop.css') screen and (min-width: 1024px) and (max-width: 1279px);

/* XL (Tailwind) */
@import url('./desktop.css') screen and (min-width: 1280px) and (max-width: 1535px);

/* 2XL (Tailwind) */
@import url('./desktop.css') screen and (min-width: 1536px);

* {
    box-sizing: border-box;
    display: block;
}

script {
    display: none;
    visibility: hidden;
}

@font-face {
    font-display: swap;
    font-family: 'Agrandir Variable';
    font-style: normal;
    font-weight: 400;
    src: url('./../fonts/AgrandirVariable.ttf') format('truetype'),
        url('./../fonts/AgrandirVariable.woff2') format('woff2'),
        url('./../fonts/AgrandirVariable.woff') format('woff');
}

body {
    font-family: Agrandir Variable, sans-serif;
    position: absolute;
    margin: 0;
    padding: 0;
}