#container {
  width: 378px;
  height: 974px;
  background-color: #F8F6F4;
  position: absolute;
}

#letters {
  /* layout */
  width: calc(280px * var(--ratio));
  height: calc(151px * var(--ratio));
  top: calc(131px * var(--ratio));
  left: calc(10px * var(--ratio));
  /* typography */
  color: #162C63;
  font-feature-settings: 'salt' on;
  font-family: Agrandir Variable;
  font-size: calc(216px * var(--ratio));
  font-style: normal;
  font-weight: 469;
  /* line-height: 60.665px; */
  text-transform: uppercase;
  /* other */
  z-index: 1;
  /* overrides */
  line-height: calc(0.8 * var(--ratio));
  position: absolute;
}

#box-1 {
  background-color: #2051FF;
  /* layout */
  width: calc(378px * var(--ratio));
  height: calc(378px * var(--ratio));
  top: calc(183px * var(--ratio));
  left: calc(0px * var(--ratio));
  position: absolute;
}

#box-2 {
  /* layout */
  width: calc(235.3px * var(--ratio));
  height: calc(234.03px * var(--ratio));
  top: calc(561px * var(--ratio));
  left: calc(0px * var(--ratio));
  /* colours */
  background-color: #bdaaaa;
  position: absolute;
}

#box-3 {
  /* colours */
  background-color: #E83D32;
  /* layout */
  width: calc(143px * var(--ratio));
  height: calc(143px * var(--ratio));
  top: calc(561px * var(--ratio));
  left: calc(235px * var(--ratio));
  position: absolute;
}

#title {
  /* typography */
  color: #FFF;
  font-family: Agrandir Variable;
  font-size: calc(14px * var(--ratio));
  font-style: normal;
  font-weight: 400;
  line-height: calc(19.12px * var(--ratio));
  letter-spacing: calc(5.6px * var(--ratio));
  text-transform: uppercase;
  /* layout */
  width: calc(250px * var(--ratio));
  height: calc(22px * var(--ratio));
  top: calc(156px * var(--ratio));
  left: calc(24px * var(--ratio));
  position: absolute;
}

#description {
  /* typography */
  color: #FFF;
  font-family: Agrandir Variable;
  font-size: calc(24px * var(--ratio));
  font-style: normal;
  font-weight: 336;
  /* line-height: 32px; */
  /* layout */
  width: calc(322.19px * var(--ratio));
  height: calc(160px * var(--ratio));
  top: calc(199px * var(--ratio));
  left: calc(24px * var(--ratio));
  /* overrides */
  line-height: calc(1.3 * var(--ratio));
  position: absolute;
}

#cta-text {
  /* typography */
  color: #162C63;
  font-family: Agrandir Variable;
  font-size: calc(16px * var(--ratio));
  font-style: normal;
  font-weight: 336;
  line-height: calc(160% * var(--ratio));
  /* layout */
  width: calc(325px * var(--ratio));
  height: calc(78px * var(--ratio));
  top: calc(819px * var(--ratio));
  left: calc(24px * var(--ratio));
  position: absolute;
}

#cta-link {
  /* layout */
  width: calc(81px * var(--ratio));
  height: calc(4px * var(--ratio));
  flex-shrink: 0;
  top: calc(942px * var(--ratio));
  left: calc(146px * var(--ratio));
  /* style */
  border-radius: 4px;
  background: #E83D32;
  position: absolute;
}

#cta-link-text {
  /* typography */
  color: #162C63;
  font-feature-settings: 'salt' on;
  font-family: Agrandir Variable;
  font-size: calc(16px * var(--ratio));
  font-style: normal;
  font-weight: 336;
  line-height: calc(16px * var(--ratio));
  /* 100% */
  /* layout */
  width: calc(96px * var(--ratio));
  height: calc(16px * var(--ratio));
  top: calc(937px * var(--ratio));
  left: calc(253px * var(--ratio));
  position: absolute;
}