#container {
  width: 1804px;
  height: 1017px;
  background: #EFEBE5;
  position: absolute;
}

#image {
  width: calc(859px * var(--ratio));
  height: calc(871px * var(--ratio));
  top: calc(139px * var(--ratio));
  left: calc(122px * var(--ratio));
  background-image: url('./../images/image-1.png');
  position: absolute;
  background-size: cover;
  background-repeat: no-repeat;
  background-repeat: center center;
}

#text-container {
  width: calc(577px * var(--ratio));
  height: calc(558px * var(--ratio));
  top: calc(226px * var(--ratio));
  left: calc(1072px * var(--ratio));
  position: absolute;
}

.text {
  color: #E83D32;
  /* typography */
  font-family: Agrandir Variable;
  font-size: clamp(calc(32px / var(--fontSizeFactor)), calc(32px * var(--ratio)), calc(32px * var(--fontSizeFactor)));
  font-weight: 336;
  line-height: calc(38.4px * var(--ratio));
  letter-spacing: calc(0em * var(--ratio));
  text-align: left;
  position: absolute;
}

p {
  position: relative !important;
}